.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: center 
}

.button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.button:hover {
    background-color: #0056b3;
}